.contact-section {
	margin: 3rem;

	.contact-form {
		width: 75%;
		@include small {
			width: 100%;
		}

		.form-input,
		.form-label,
		.form-textarea {
			display: block;
			width: 100%;
			padding: 5px;
			color: $body-text;
		}

		.form-label {
			margin-top: 1.5rem;
		}

		.form-input,
		.form-textarea {
			border: 2px solid #eee;

			&:focus {
				outline: none;
			}
		}

		.form-textarea {
			height: 12rem;
		}

		.form-submit {
			margin: 2rem 0;
			padding: 1rem;
			background-color: $hot-pink;
			border: none;
			color: white;
			font-size: 0.9rem;
			font-style: italic;
		}
	}
}