@import 'normalise.css';
@import 'fonts.scss';
@import 'global.scss';
@import 'variables.scss';
@import 'grid.scss';
@import 'header.scss';
@import 'banner.scss';
@import 'gallery.scss';
@import 'blog.scss';
@import 'contact-form.scss';
@import 'footer.scss';